<section class='t20calc'>
  <header class='t20calc__header'>
    <div class='t20calc__points'>
      Pontos Restantes:
      <span id='remaining'>{{remaining}}</span>
    </div>
    <div class='t20calc__actions'>
      <button class='icon t20calc__apply' title='Aplicar na Ficha' disabled>
        <i class='fas fa-check'></i>
      </button>
      <button class='icon t20calc__reset' title='Resetar'>
        <i class='fas fa-rotate-left'></i>
      </button>
    </div>
  </header>

  <table class='t20calc__table'>
    <thead>
      <tr>
        <th>Atributo</th>
        <th>Valor</th>
        <th>Raça</th>
        <th>Bônus</th>
        <th>Total</th>
        <th>Custo</th>
      </tr>
    </thead>
    <tbody>
      {{#each attributes}}
        <tr data-attr='{{this.key}}'>
          <td>{{this.label}}</td>
          <td><input
              type='number'
              min='-1'
              max='4'
              value='{{this.value}}'
              data-attr='{{this.key}}'
              data-field='value'
            /></td>
          <td><input
              type='number'
              value='{{this.racial}}'
              data-attr='{{this.key}}'
              data-field='racial'
            /></td>
          <td><input
              type='number'
              value='{{this.bonus}}'
              data-attr='{{this.key}}'
              data-field='bonus'
            /></td>
          <td><input
              class='total'
              type='number'
              value='{{this.total}}'
              data-attr='{{this.key}}'
              readonly
            /></td>
          <td class='cost' data-attr='{{this.key}}'>{{this.cost}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class='t20calc__age'>
    <div class='row'>
      <span class='label'>Envelhecimento:</span>
      <label class='check'><input id='idade-maduro' type='checkbox' />
        <span>Maduro</span></label>
      <label class='check'><input id='idade-velho' type='checkbox' />
        <span>Velho</span></label>
    </div>
    <p id='idade-info' class='muted'>Nenhum bônus de idade aplicado.</p>
  </div>
</section>